.navbar-container {
  width: 100vw;
  height: 74px;
  flex-shrink: 0;
  background: var(--primary-400, #34c94b);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}
